@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

/* Variables*/
/*Inicio*/
.body {
  background-color: rgb(18, 2, 26);
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  /*Main*/
}
.body header {
  background-color: rgb(18, 2, 26);
}
.body header nav {
  display: flex;
  background-color: rgb(18, 2, 26);
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
.body header .logoprincipal {
  justify-content: center;
  display: flex;
}
.body header ul {
  display: flex;
  gap: 50px;
}
.body header ul li {
  font-size: 20px;
  width: 100%;
  list-style: none;
}
.body header ul li a {
  text-decoration: none;
  color: rgb(187, 179, 179);
  font-weight: bold;
}
.body header nav li:hover {
  background-color: rgb(89, 32, 97);
  color: rgb(0, 0, 0);
}
.body header h1 {
  text-align: center;
  font-size: 70px;
  color: rgb(250, 250, 250);
  padding-bottom: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.body .main2 {
  background-color: black;
}
.body main {
  display: flex;
  gap: 50px;
  background-color: rgb(0, 0, 0);
}
.body .victoria {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 20px;
}
.body .grito {
  width: 100%;
  padding-bottom: 30px;
}
.body .hijo1 {
  padding-left: 40px;
  padding-top: 30px;
  width: 3600px;
  transition: transform 0.4s ease;
}
.body .hijo2 {
  padding-right: 30px;
}
.body .hijo2 video {
  padding-top: 200px;
}
.body .textinicio {
  color: white;
  font-size: 25px;
  padding-right: 20px;
  text-align: left;
  padding-top: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*Footer*/
.Footer {
  background-color: rgb(40, 22, 49);
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding-left: 50px;
  justify-content: center;
}
.Footer img {
  height: 60px;
  padding-bottom: 5px;
  padding-right: 20px;
}
.Footer h3 {
  display: flex;
  justify-content: center;
  color: rgb(238, 222, 222);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Footer .copy {
  display: flex;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  color: rgb(173, 181, 187);
}
.Footer .Redes {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}
.Footer .Redes .footerinsta, .Footer .Redes .footertwitter {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Jugadores*/
#logojugadores {
  width: 100%;
}

.Dgtfoto {
  width: 500px;
  margin-top: 100px;
}

.Tryfoto {
  width: 500px;
  margin-top: 100px;
  padding-right: 20px;
}

.Maxfoto {
  width: 350px;
  margin-top: 100px;
}

.Budafoto {
  width: 350px;
  margin-top: 100px;
  margin-right: 100px;
}

.Dav1dfoto {
  width: 550px;
  margin-top: 75px;
}

.maxydavid {
  display: flex;
  justify-content: center;
  padding-left: 25%;
  gap: 80px;
  padding-bottom: 40px;
}

.dgttry {
  display: flex;
  justify-content: center;
  padding-left: 20%;
  gap: 60px;
}

.pbuda {
  padding-right: 20%;
}

.padrejugadores1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.padrejugadores1 p {
  color: white;
}

/* Galeria */
.galeria1, .galeria5, .galeria4, .galeria3, .galeria2 {
  width: 100%;
}

.hijogale {
  padding-left: 25px;
  padding-top: 30px;
  padding-right: 25px;
}

.probando1 {
  display: flex;
  padding-bottom: 25px;
  gap: 30px;
}

.probando2 {
  display: flex;
  gap: 30px;
}

/*Logros*/
.logrosimg1 img {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logrosimg2 img {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.textlogros1 {
  color: white;
  font-size: 25px;
  padding-right: 20px;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.textlogros2 {
  color: white;
  font-size: 25px;
  padding-right: 20px;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.textlogrosh2 {
  color: white;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding-top: 150px;
}

/*Contacto*/
.maincontacto {
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.formcontact {
  display: flex;
  background-color: white;
  width: 400px;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.contact {
  overflow: hidden;
  color: gray;
}

/* Tamaño tablet */

/*# sourceMappingURL=estilos.css.map */
