    /* Variables*/
    $Top: 100px;
    $Colorprincipal: black;
    
    @mixin fuente{
        font-family:'Times New Roman', Times, serif;
    }


    /*Inicio*/
    .body{
        background-color: $Colorprincipal;
        @include fuente;
        header{
            background-color: $Colorprincipal;
            nav{
                display: flex;
                width: 100%;
                background-color: rgb(255, 255, 255);
            }
            .logoprincipal{
                justify-content: center;
                display: flex;
            }
            ul{
                display: flex;
                gap: 50px;
            }
            ul li{
                font-size: 20px;
                width: 100%;
                list-style: none;
            }
        
        h1{
        text-align: center;
        font-size: 50px;
        color: white;
    }
}
/*Main*/
    main{
        display: flex;
        gap: 50px;
    }
    .victoria{
        width: 100%;
        padding-bottom: 30px;
    }
    .grito{
        width: 100%;
    }
    .hijo1{
        padding-left: 40px;
        padding-top: 30px;
        width: 3600px;
    }
    .hijo2{
        padding-right: 30px;
    }
    .textinicio{
        color: white;
        font-size: 30px;
        padding-right: 20px;
        border: 1px solid;
    }
}

.Footer{
    background-color: rgb(90, 10, 128);
    font-size: 20px;
    @include fuente;
    font-weight: bold;
    padding-left: 50px;
    justify-content: center;
    img{
        height: 60px;
        padding-bottom: 5px;
        padding-right: 20px;
    }
    h6{
        padding-bottom: 20px;
        font-size: 40px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .Redes{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img{
            height: 60px;
            padding-bottom: 5px;
            padding-right: 20px;
        }
        p{
            padding-bottom: 15px;
            padding-left: 15px;
        }
        a{
            display: inline;
            color: white;
        }

    }
}

/* Jugadores*/

#logojugadores{
    width: 100%;
    margin-left: 800px;
}

.Dgtfoto{
    width: 350px;
    margin-left: 150px;
    margin-top: $Top;
}

.Tryfoto{
    width: 500px;
    margin-left: 150px;
    margin-top: $Top;
}

.Maxfoto{
    width: 350px;
    margin-left: 300px;
    margin-top: $Top;
}

.Budafoto{
    width: 350px;
    margin-left: 150px;
    margin-top: $Top;
    margin-right: 100px;
}

.Dav1dfoto{
    width: 550px;
    margin-left: 450px;
    margin-top: $Top;
    
} 

.contdgt{
    display: flex;
}



/* Galeria */ 


.galeria1{
    width: 100%;
}

.galeria2{
    @extend .galeria1;
}

.galeria3{
    @extend .galeria1;
}

.galeria4{
    @extend .galeria1;
}

.galeria5{
    @extend .galeria1;
}

.hijogale{
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 25px;
}

.probando1{
    display: flex;
    padding-bottom: 25px;
    gap: 30px;
    text-align: center;
    p{
        color: white;
    }
}

.probando2{
    display: flex;
    gap: 30px;
    text-align: center;
    p{
        color: white;
    }
}

/* Tamaño tablet */

@media (max-width:768px) {
    .header{
        zoom: 50%;
    }
}




